<html>
<style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
</style>

<h1>User SignUp</h1>
<form method = "POST" action = "/signup">
  <b>First name:</b><br>
  <input type="text" name="firstname"><br><br>
  <b>Last name:</b><br>
  <input type="text" name="lastname"><br><br>
  <b>Gender:</b><br>
  <!-- <input type="text" name="lastname" value="Mouse"><br><br> -->
  <input type="radio" name="gender" value = "Male"> Male<br>
  <input type="radio" name="gender" value = "Female"> Female<br><br>
  <b>Age:</b><br>
  <input type="text" name="age"><br><br>
  <b>Email:</b><br>
  <input type="text" name="email"><br><br>
  <b>Phone Number:</b><br>
  <input type="text" name="phonenum"><br><br>
  <b>Password:</b><br>
  <input type="text" name="password"><br><br>

  <input type="submit" value="Submit">
</form>

</html>